<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>spring project Scene, Share</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/common.css">

</head>
<body>
<main class="container login">
  <div class="log-con">
    <h1 class="logo"><em>Scene, </em>Share</h1>
    <h2>Log-in</h2>

    <form action="/user/loginProcess.do" method="post">
      <ul class="login-area">
        <li><input type="text" id="user-id" name="userId" placeholder="아이디"></li>
        <li><input type="password" id="user-pw" name="userPw" placeholder="비밀번호"></li>
        <li><button type="submit" class="btn-login">로그인</button></li>
      </ul>

      <div class="join-area">
        <p class="text">계정이 없으신가요?</p>
        <a href="/user/join.do" th:href="@{/user/join.do}" target="_self">회원가입</a>
      </div>

      <ul class="login-etc">
        <li>
          <button class="kakao" type="button">
            <img alt="kakao"
                 src="https://an2-ast.amz.wtchn.net/ayg/images/icSocialKakao.508335a4ee2ebce0.svg?url">
          </button>
        </li>
        <li>
          <button class="naver" type="button">
            <img alt="naver" src="/img/naver_icon.png">
          </button>
        </li>
        <li>
          <button class="google" type="button">
            <img alt="google"
                 src="https://an2-ast.amz.wtchn.net/ayg/images/icSocialGoogle.488847f7b03908bc.svg?url">
          </button>
        </li>
      </ul>
    </form>
  </div>
</main>
</body>
</html>