<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>spring project Scene, Share</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
          crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/common.css">
  <script src="/js/common.js"></script>

</head>
<body>
<div class="wrap rows2">
  <main class="flex">
    <div class="container">
      <h1 class="full-view-title fail">로그인 실패</h1>
      <p class="full-view-text2"><b>아이디</b> 혹은 <b>비밀번호</b>를 확인해 주시기 바랍니다.</p>
      <div class="full-view-btns flex">
        <a href="/user/login.do" th:href="@{/user/login.do}">로그인</a>
        <a href="/main" th:href="@{/main}">홈으로</a>
      </div>
    </div>
  </main>

  <footer>
    <section class="container">
      <div>
        <h5 class="logo">Scene, Share</h5>
        <p>© 2025 by fullstack502 TEAM 3 All rights reserved.</p>
      </div>
    </section>
  </footer>
</div>
</body>
</html>