<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/pretendard.css">

</head>

<body class="pretendard">

<footer class="d-flex flex-column p-5 mt-5 justify-content-end" style="width: 100%; height: 330px; position: relative; left: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.4); text-align: end; backdrop-filter: blur(5px); color: #fff" th:fragment="footer">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <div style="position:relative; width: 100%">
        <a th:if="${session.loginId == 4}" th:href="@{/admin}" style="font-size: 13px; position:absolute; left: 0;">ADMIN</a>
        <p style="font-size: 13px; text-align: right; width: 100%;">Project by</p>
    </div>
    <hr><br>
    <p style="font-size: 10px;">
        Eundalbit JO / crescentdara@gmail.com<br>
        Junghwan RO / rojh9018@naver.com<br>
        Chanwoo Jeong / chanwoojeong@naver.com<br>
        Haeram Song / haeram0990@gmail.com<br>
        Gayeon Jin / jingayeon6162@gmail.com
    </p><br><br><br>
</footer>

</body>

</html>