<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.naver.maps.map.NCP_KEY_ID"
            android:value="h81w25c1vt" />

        <!-- 런처 -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 마이페이지 -->
        <activity
            android:name=".ui.mypage.EditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mypage.FindIdActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mypage.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mypage.MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mypage.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mypage.FindIdPwActivity"
            android:exported="false" />

        <!-- 채팅 -->
        <activity
            android:name=".ui.ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChatRoomActivity"
            android:exported="false" />

        <!-- 게시글 -->
        <activity
            android:name="bitc.fullstack502.android_studio.ui.post.PostListActivity"
            android:exported="false" />
        <activity
            android:name="bitc.fullstack502.android_studio.ui.post.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name="bitc.fullstack502.android_studio.ui.post.PostWriteActivity"
            android:exported="false" />

        <!-- 숙소 -->
        <activity
            android:name=".ui.lodging.LodgingSearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.lodging.LodgingListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.lodging.LodgingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.lodging.LodgingPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.lodging.LodgingPaymentCompleteActivity"
            android:exported="false" />

        <!--        마이페이지 -->
        <activity android:name=".ui.mypage.MyPostsActivity" />
        <activity android:name=".ui.mypage.MyCommentsActivity" />
        <activity android:name=".ui.mypage.LikedPostsActivity" />
        <activity android:name=".ui.mypage.FlightWishlistActivity" />
        <activity android:name=".ui.mypage.LodgingWishlistActivity" />
        <activity android:name=".ui.mypage.FlightBookingsActivity" />
        <activity android:name=".ui.mypage.LodgingBookingsActivity" />


        <!-- 공통/기타 -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <!-- 여정 선택(가는 편) -->
        <activity
            android:name=".FlightReservationActivity"
            android:exported="false" />

        <!-- 오는 편 선택 -->
        <activity
            android:name=".InboundSelectActivity"
            android:exported="false"
            android:parentActivityName=".FlightReservationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FlightReservationActivity" />
        </activity>

        <!-- 승객 정보 입력 -->
        <activity
            android:name=".PassengerInputActivity"
            android:exported="false"
            android:parentActivityName=".FlightReservationActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.App">   <!-- ✅ 추가 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FlightReservationActivity" />
        </activity>

        <!-- 여정 상세 -->
        <activity
            android:name=".ItineraryActivity"
            android:exported="false"
            android:parentActivityName=".PassengerInputActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PassengerInputActivity" />
        </activity>

        <!-- 결제 -->
        <activity
            android:name=".PaymentActivity"
            android:exported="false"
            android:parentActivityName=".ItineraryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItineraryActivity" />
        </activity>

        <!-- 결제 완료(모바일 탑승권) -->
        <activity
            android:name=".TicketSuccessActivity"
            android:exported="false"
            android:parentActivityName=".PaymentActivity"
            android:theme="@style/Theme.App">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PaymentActivity" />
        </activity>


    </application>
</manifest>
